@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-block-start: 0px;
  padding-block-end: 0px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #f1eeee;
  max-height: 100vh;
  overflow-x: hidden;
}
body ul {
  list-style: none;
  margin-bottom: 0rem;
}

.page-container {
  height: 100vh;
  width: 100vw;
}
.page-container .page-content {
  height: 100vh;
  width: 100vw;
}

.section.fw {
  width: 100%;
}
.section.flex-row {
  display: flex;
  flex-direction: row;
}
.section.flex-column {
  display: flex;
  flex-direction: column;
}
.section.flex-center {
  justify-content: center;
  align-items: center;
}
.section.flex-space-between {
  justify-content: space-between;
}
.section.margin {
  margin: 3rem auto;
}
.section.padding {
  padding: 2rem;
}

.component-container.fw {
  width: 100%;
}

.component-content {
  display: flex;
}
.component-content.flex-row {
  flex-direction: row;
  align-items: center;
}
.component-content.flex-column {
  flex-direction: column;
}
.component-content.flex-center {
  justify-content: center;
}
.component-content.flex-space-between {
  justify-content: space-between;
}
.component-content.fw {
  width: 100%;
}
.component-content.padding {
  padding: 2rem 1rem;
}

button {
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform ease-in-out 0.15s;
}
button:hover {
  transform: scale(1.01);
}

.fw-btn {
  width: 200px;
}

.primary-filled {
  background: #3030ab;
  color: #73B5DE;
  border-radius: 8px;
}
.primary-filled:hover {
  background: #73B5DE;
  color: #3030ab;
}

.secondary-filled {
  background: #73B5DE;
  color: #3030ab;
  border-radius: 8px;
}
.secondary-filled:hover {
  background: #3030ab;
  color: #73B5DE;
}

.primary-outlined {
  background: none;
  color: #121253;
  border: 1px solid #3030ab;
  border-radius: 8px;
}
.primary-outlined:hover {
  border: none;
  border-radius: 8px;
  background: #73B5DE;
  color: #3030ab;
}

.secondary-outlined {
  background: none;
  color: #316791;
  border: 1px solid #73B5DE;
  border-radius: 8px;
}
.secondary-outlined:hover {
  border: none;
  border-radius: 8px;
  background: #3030ab;
  color: #73B5DE;
}

.icon-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.7rem !important;
}
.icon-button.rounded {
  border-radius: 100px !important;
}
.icon-button.primary-filled {
  background: #3030ab;
  color: #73B5DE;
  border-radius: 8px;
}
.icon-button.primary-filled:hover {
  background: #73B5DE;
  color: #3030ab;
}
.icon-button.secondary-filled {
  background: #73B5DE;
  color: #3030ab;
  border-radius: 8px;
}
.icon-button.secondary-filled:hover {
  background: #3030ab;
  color: #73B5DE;
}
.icon-button.white-filled {
  background-color: #ffffff;
}
.icon-button.white-filled i {
  color: #3030ab;
}
.icon-button.primary-outlined {
  background: none;
  color: #121253;
  border: 1px solid #3030ab;
  border-radius: 8px;
}
.icon-button.primary-outlined:hover {
  border: none;
  border-radius: 8px;
  background: #73B5DE;
  color: #3030ab;
}
.icon-button.secondary-outlined {
  background: none;
  color: #316791;
  border: 1px solid #73B5DE;
  border-radius: 8px;
}
.icon-button.secondary-outlined:hover {
  border: none;
  border-radius: 8px;
  background: #3030ab;
  color: #73B5DE;
}

a {
  color: #3030ab;
  transition: transform ease-in-out 0.15s !important;
}
a:hover {
  transform: scale(1.03) !important;
}

.no-dec {
  text-decoration: none;
}

.modal {
  backdrop-filter: blur(50px);
  background: linear-gradient(45deg, rgba(48, 48, 171, 0.4666666667) 0%, rgba(66, 61, 61, 0.5921568627) 100%);
}
.modal .modal-dialog #login-modal-image {
  height: 500px !important;
  object-fit: cover;
}
.modal .modal-dialog .modal-content {
  border: none;
  border-radius: 8px;
}
.modal .modal-dialog .modal-content .modal-header {
  border: none;
}
.modal .modal-dialog .modal-content .modal-footer {
  border: none;
}

.hero-container {
  position: relative;
  width: 100vw;
}

#navbar {
  position: absolute;
  top: 0;
  z-index: 1000;
  padding: 0rem 4rem;
}
#navbar .logo img {
  width: 150px;
}
#navbar #site-menu li a {
  padding: 0.5rem 1rem;
}
#navbar #site-menu li a:hover {
  background: #73B5DE;
  color: #121253;
  border-radius: 8px;
}
#navbar #actions-menu {
  display: flex;
}
#navbar #actions-menu button {
  margin-left: 0.5rem;
}
#navbar #actions-menu #mobile-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  #navbar {
    padding: 0rem 2rem;
  }
  #navbar .logo img {
    width: 80px;
  }
  #navbar #site-menu {
    display: none !important;
  }
  #navbar #actions-menu #mobile-menu {
    display: flex;
  }
}

#MobileMenuModal {
  backdrop-filter: blur(50px);
  background: linear-gradient(45deg, rgba(48, 48, 171, 0.4666666667) 0%, rgba(66, 61, 61, 0.5921568627) 100%);
}
#MobileMenuModal .modal-dialog .modal-content {
  border: none;
  border-radius: 0rem;
}
#MobileMenuModal .modal-dialog .modal-content .modal-header {
  border: none;
}
#MobileMenuModal .modal-dialog .modal-content .modal-body #site-menu-mobile {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
#MobileMenuModal .modal-dialog .modal-content .modal-body #site-menu-mobile li {
  margin: 0.2rem 0rem;
}
#MobileMenuModal .modal-dialog .modal-content .modal-body #site-menu-mobile li a {
  font-size: 1.6rem;
  font-weight: 700;
}
#MobileMenuModal .modal-dialog .modal-content .modal-footer {
  border: none;
}

#AI-assistant-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
#AI-assistant-container .AI-assistant-trigger-container .AI-assistant-trigger-content {
  display: flex;
  align-items: center;
}
#AI-assistant-container .AI-assistant-trigger-container .AI-assistant-trigger-content .AI-assistant-trigger-bubble {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(186, 181, 181, 0.621);
  border-radius: 8px;
}
#AI-assistant-container .AI-assistant-trigger-container .AI-assistant-trigger-content #AI-assistant-trigger-button {
  padding: 0.8rem !important;
}
#AI-assistant-container .AI-assistant-trigger-container .AI-assistant-trigger-content #AI-assistant-trigger-button i {
  font-size: 1.2rem !important;
  line-height: 1.2rem !important;
}
#AI-assistant-container .AI-assistant-chat-container {
  display: none;
  width: 350px;
  height: 450px;
  margin-top: 1rem;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(186, 181, 181, 0.621);
  border-radius: 8px;
}
@media screen and (max-width: 375px) {
  #AI-assistant-container .AI-assistant-chat-container {
    width: 320px;
  }
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content {
  width: 100%;
  height: 100%;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-header .AI-assistant-chat-header-container {
  border-bottom: 1px solid #f1eeee;
  height: 70px;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-header .AI-assistant-chat-header-container .AI-assistant-chat-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-header .AI-assistant-chat-header-container .AI-assistant-chat-header-content .AI-assistant-logo-status {
  display: flex;
  align-items: center;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-header .AI-assistant-chat-header-container .AI-assistant-chat-header-content .AI-assistant-logo-status .logo {
  margin-right: 0.5rem;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-header .AI-assistant-chat-header-container .AI-assistant-chat-header-content .AI-assistant-logo-status .logo #chat-favicon {
  width: 32px;
  height: 32px;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-header .AI-assistant-chat-header-container .AI-assistant-chat-header-content .AI-assistant-logo-status .chat-status {
  line-height: 1.2rem;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-header .AI-assistant-chat-header-container .AI-assistant-chat-header-content .AI-assistant-logo-status .chat-status #chat-business-name {
  font-weight: 700;
  color: #3030ab;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-header .AI-assistant-chat-header-container .AI-assistant-chat-header-content .AI-assistant-logo-status .chat-status .status {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-header .AI-assistant-chat-header-container .AI-assistant-chat-header-content .AI-assistant-logo-status .chat-status .status .dot {
  width: 0.5rem;
  height: 0.5rem;
  background: #2EBFA5;
  display: flex;
  border-radius: 100px;
  margin-right: 0.3rem;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-header .AI-assistant-chat-header-container .AI-assistant-chat-header-content #hide-chat {
  padding: 0.1rem 0.3rem !important;
  background: #f1eeee;
  border-radius: 100px;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main {
  overflow-y: scroll;
  height: 320px;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main .AI-assistant-chat-main-container .AI-assistant-chat-main-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main .AI-assistant-chat-main-container .AI-assistant-chat-main-content ::-webkit-scrollbar {
  width: 5px;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main .AI-assistant-chat-main-container .AI-assistant-chat-main-content ::-webkit-scrollbar-track {
  background: none;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main .AI-assistant-chat-main-container .AI-assistant-chat-main-content ::-webkit-scrollbar-thumb {
  background: #3030ab;
  border-radius: 100px;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main .AI-assistant-chat-main-container .AI-assistant-chat-main-content .user-input-container {
  width: 100%;
  display: flex;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main .AI-assistant-chat-main-container .AI-assistant-chat-main-content .user-input-container .user-input-content {
  margin: 1rem 0rem !important;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main .AI-assistant-chat-main-container .AI-assistant-chat-main-content .user-input-container .user-input-content .timing {
  font-size: 0.8rem;
  color: #a19a9a;
  margin-bottom: 0.3rem;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main .AI-assistant-chat-main-container .AI-assistant-chat-main-content .user-input-container .user-input-content .user-input-bubble .user-input-text {
  width: fit-content;
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #e4f5ff;
  color: #423d3d;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main .AI-assistant-chat-main-container .AI-assistant-chat-main-content .AI-response-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main .AI-assistant-chat-main-container .AI-assistant-chat-main-content .AI-response-container .AI-response-content .timing {
  font-size: 0.8rem;
  color: #a19a9a;
  margin-bottom: 0.3rem;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-main .AI-assistant-chat-main-container .AI-assistant-chat-main-content .AI-response-container .AI-response-content .AI-response-bubble .AI-response-text {
  width: fit-content;
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: #f1eeee;
  color: #423d3d;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-footer {
  width: 100%;
  height: 60px;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-footer .AI-assistant-chat-footer-container {
  border-top: 1px solid #f1eeee;
  background: #ffffff;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-footer .AI-assistant-chat-footer-container .AI-assistant-chat-footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-footer .AI-assistant-chat-footer-container .AI-assistant-chat-footer-content .input input {
  width: 100%;
  border: none;
  outline: none;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-footer .AI-assistant-chat-footer-container .AI-assistant-chat-footer-content .actions {
  display: flex;
  align-items: center;
}
#AI-assistant-container .AI-assistant-chat-container .AI-assistant-chat-content .AI-assistant-chat-footer .AI-assistant-chat-footer-container .AI-assistant-chat-footer-content .actions button {
  padding: 0.2rem;
  margin: 0.2rem;
}
#AI-assistant-container .AI-assistant-chat-container .loader {
  width: 28px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #888 90%, transparent);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: 33.3333333333% 50%;
  animation: typing-indicator 1s infinite linear;
}
@keyframes typing-indicator {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/*# sourceMappingURL=main.css.map */
