// FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
// VARIABLES IMPORT
@import 'variables';

// ========================================
// RESET CSS
// ========================================
    *{
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-inline-start: 0px;
        padding-inline-end: 0px;
        padding-block-start: 0px;
        padding-block-end: 0px;
        scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
    }

// ========================================
// STRUCTURE CSS
// ========================================

    body{
        font-family: $font;
        ul{list-style: none; margin-bottom: 0rem;}
        background-color: $white;
        max-height: 100vh;
        overflow-x: hidden;
    }
    // Page structure
        .page-container{
            height: 100vh;
            width: 100vw;
            .page-content{
                height: 100vh;
                width: 100vw;
            }
        }
    // Section structure
        .section{
            &.fw{
                width: 100%;
            }
            &.flex-row{
                display: flex;
                flex-direction: row;
            }
            &.flex-column{
                display: flex;
                flex-direction: column;
            }
            &.flex-center{
                justify-content: center;
                align-items: center;
            }
            &.flex-space-between{
                justify-content: space-between;
            }
            &.margin{
                margin: 3rem auto;
            }
            &.padding{
                padding: 2rem;
            }
        }
    // Component wrapper
        .component-container{
            &.fw{
                width: 100%;
            }
        }
    // Component content
        .component-content{
            display: flex;
            &.flex-row{
                flex-direction: row;
                align-items: center;
            }
            &.flex-column{
                flex-direction: column;
            }
            &.flex-center{
                justify-content: center;
            }
            &.flex-space-between{
                justify-content: space-between;
            }
            &.fw{
                width: 100%;
            }
            &.padding{
                padding: 2rem 1rem;
            }
        }
// ========================================
// DESIGN SYSTEM (Buttons, Links, Inputs, etc)
// ========================================

    // BUTTONS
        // Generic
        button{
            border: none;
            background: none;
            padding: .5rem 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: transform ease-in-out 0.15s;
            &:hover{
                transform: scale(1.01);
            }
        }
        // Sizes
        .fw-btn{
            width: 200px;
        }
        // Filled
        .primary-filled{
            background: $primary-color;
            color: $secondary-color;
            border-radius: $radius;
            &:hover{
                background: $secondary-color;
                color: $primary-color;
            }
        }
        .secondary-filled{
            background: $secondary-color;
            color: $primary-color;
            border-radius: $radius;
            &:hover{
                background: $primary-color;
                color: $secondary-color;
            }
        }
        // Outlined
        .primary-outlined{
            background: none;
            color: $darker-primary-color;
            border: 1px solid $primary-color;
            border-radius: $radius;
            &:hover{
                border: none;
                border-radius: $radius;
                background: $secondary-color;
                color: $primary-color;
            }
        }
        .secondary-outlined{
            background: none;
            color: $darker-secondary-color;
            border: 1px solid $secondary-color;
            border-radius: $radius;
            &:hover{
                border: none;
                border-radius: $radius;
                background: $primary-color;
                color: $secondary-color;
            }
        }
        // Icon Button
        .icon-button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: .5rem .7rem !important;
            // Rounded
                &.rounded{
                    border-radius: $round !important;
                }
            &.small{
                padding: .1rem .3rem !important;
            }
            // Filled
                &.primary-filled{
                    background: $primary-color;
                    color: $secondary-color;
                    border-radius: $radius;
                    &:hover{
                        background: $secondary-color;
                        color: $primary-color;
                    }
                }
                &.secondary-filled{
                    background: $secondary-color;
                    color: $primary-color;
                    border-radius: $radius;
                    &:hover{
                        background: $primary-color;
                        color: $secondary-color;
                    }
                }
                &.white-filled{
                    background-color: $white;
                    i{
                        color: $primary-color;
                    }
                }
            // Outlined
                &.primary-outlined{
                    background: none;
                    color: $darker-primary-color;
                    border: 1px solid $primary-color;
                    border-radius: $radius;
                    &:hover{
                        border: none;
                        border-radius: $radius;
                        background: $secondary-color;
                        color: $primary-color;
                    }
                }
                &.secondary-outlined{
                    background: none;
                    color: $darker-secondary-color;
                    border: 1px solid $secondary-color;
                    border-radius: $radius;
                    &:hover{
                        border: none;
                        border-radius: $radius;
                        background: $primary-color;
                        color: $secondary-color;
                    }
                }
        }
    // LINKS
        a{  
            color: $primary-color;
            transition: transform ease-in-out 0.15s !important;
            &.button{
                border: none;
                background: none;
                padding: .5rem 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: fit-content;
                margin: auto;
                text-decoration: none;
            }
            &.primary-filled{
                background: $primary-color;
                color: $secondary-color;
                border-radius: $radius;
                &:hover{
                    background: $secondary-color;
                    color: $primary-color;
                }
            }
            &.secondary-filled{
                background: $secondary-color;
                color: $primary-color;
                border-radius: $radius;
                &:hover{
                    background: $primary-color;
                    color: $secondary-color;
                }
            }
            // Outlined
            &.primary-outlined{
                background: none;
                color: $darker-primary-color;
                border: 1px solid $primary-color;
                border-radius: $radius;
                &:hover{
                    border: none;
                    border-radius: $radius;
                    background: $secondary-color;
                    color: $primary-color;
                }
            }
            &.secondary-outlined{
                background: none;
                color: $darker-secondary-color;
                border: 1px solid $secondary-color;
                border-radius: $radius;
                &:hover{
                    border: none;
                    border-radius: $radius;
                    background: $primary-color;
                    color: $secondary-color;
                }
            }
            &:hover{
                transform: scale(1.03) !important;
            }
        }
        .no-dec{
            text-decoration: none;
        }
// ========================================
// UI COMPONENTS (Modal, Toast, etc.)
// ========================================

    // Modal
        .modal{
            backdrop-filter: $bigblur;
            background: $primary-transparent-gradient;
            z-index: 100000 !important;
            .modal-dialog{
                #login-modal-image{
                    height: 500px !important;
                    object-fit: cover;
                }
                .modal-content{
                    border: none;
                    border-radius: $radius;
                    .modal-header{
                        border: none;
                    }
                    .modal-footer{
                        border: none;
                    }
                }
            }
        }

// ========================================
// CUSTOM ID COMPONENTS
// ========================================
    // Rolling news
        #rolling-info{
            background: $light-grey;
            padding: .5rem 3rem;
            .rolling-info-container{
                .rolling-info-content{
                    display: flex;
                    justify-content: space-between;
                    .rolling-info-text{
                        display: flex;
                        align-items: center;
                        transition: opacity 0.5s ease-in-out;
                        opacity: 1;
                        .info-text{
                            margin-left: .5rem;
                            font-size: $small;
                            a{
                                color: $dark-grey;
                                text-decoration: none;
                                &:hover{
                                    color: $darker-secondary-color;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    .rolling-info-right{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    // Hero-container
        .hero-container{
            position: relative;
            width: 100vw;
        }
    // Navbar
        #navbar{
            position: absolute;
            top: 0;
            z-index: 10000;
            padding: 0rem 4rem;
            .logo{
                img{
                    width: 150px;
                    filter: brightness(100);
                    }
                }
                // Site Menu
                #site-menu {
                    list-style: none;
                    display: flex;
                    gap: 1rem;
                    padding: 0;
                    margin: 0;
                    li {
                        position: relative;

                        a {
                            text-decoration: none;
                            font-size: $default;
                            color: $white;
                            padding: .5rem 1rem;
                            border-radius: $radius;
                            transition: $transition;

                            &:hover {
                                background: $secondary-color;
                                color: $darker-primary-color;
                            }
                        }

                        // Dropdown
                        &.has-submenu {
                            > a::after {
                                font-weight: 900;
                                margin-left: 8px;
                                font-size: $small;
                            }

                            .submenu {
                                // margin-top: 1rem;
                                position: absolute;
                                top: 100%;
                                left: 0;
                                background: $white;
                                padding: 10px 0;
                                padding-top: 1rem;
                                min-width: 180px;
                                box-shadow: $shadow;
                                border-radius: $radius;
                                list-style: none;
                                display: none;
                                opacity: 0;
                                visibility: hidden;
                                transform: translateY(-10px);
                                transition: $transition;

                                li {
                                    padding: 5px 15px;

                                    a {
                                        font-size: $small;
                                        font-weight: $regular;
                                        padding: 8px 12px;
                                        display: block;
                                        color: $black;

                                        &:hover {
                                            background: $primary-gradient;
                                            color: $white;
                                            border-radius: $radius;
                                        }
                                    }
                                }
                            }

                            &:hover .submenu {
                                display: block;
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0);
                            }
                        }
                    }
                }
                // Action-menu
                #actions-menu{
                    display: flex;
                    button{
                        margin-left: .5rem;
                    }
                    #mobile-menu{
                        display: none;
                    }
                }
                @media screen and (max-width: 768px){
                    padding: 0rem 2rem;
                    .logo{
                        img{
                            width: 80px;
                        }
                    }
                    #site-menu{
                        display: none !important;
                    }
                    #actions-menu{
                        #mobile-menu{
                            display: flex;
                        }
                    }
                }
        }
    // Booking Magnet
        #bookingMagnet{
            #BookingMagnetContainer{
                margin-top: -6.5rem;
                z-index: 10;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .booking-magnet-content{
                    #BM-tabs{
                        width: 100%;
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        .nav-item{
                            .nav-link{
                                color: $white;
                                font-size: $large;
                                &.active{
                                    background: $white;
                                    color: $primary-color;
                                    font-weight: $bold;
                                }
                            }
                        }

                    }
                    #BM-content{
                        width: 100%;
                        background: $white;
                        border-radius: $round;
                        box-shadow: $shadow;
                        font-size: $large;
                        @media screen and (max-width: 768px){
                            font-size: $default;
                        }
                        #inspire-ai{
                            .form-container{
                                width: 700px !important;
                                @media screen and (max-width: 465px){
                                    width: 100% !important;
                                    form{
                                        input{
                                            width: 60%;
                                        }
                                    }
                                    
                                }
                            }
                        }
                        .form-container{
                            height: 80px;
                            display: flex;
                            justify-content: center;
                            padding: 1.5rem;
                            box-sizing: border-box;
                            form{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                input{
                                    border: none;
                                    outline: none;
                                    padding-left: 1rem;
                                    width: 70%;
                                    border-left: 1px solid $light-grey;
                                    &:first-child{
                                        border-left: none;
                                    }
                                }
                                button{
                                    border-radius: $round;
                                }
                                .field{
                                    display: flex;
                                    flex-direction: column;
                                    padding-left: 1rem;
                                    border-left: 1px solid $light-grey;
                                    &:first-child{
                                        border-left: none;
                                    }
                                    label{
                                        font-size: $small;
                                        color: $primary-color;
                                    }
                                    input{
                                        padding-left: 0rem;
                                        border-left: none;
                                        font-size: $large;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    // Mobile Menu Modal
        #MobileMenuModal{
            backdrop-filter: $bigblur;
            background: $primary-transparent-gradient;
            .modal-dialog{
                .modal-content{
                    border: none;
                    border-radius: 0rem;
                    .modal-header{
                        border: none;
                    }
                    .modal-body{
                        #site-menu-mobile{
                            display: flex;
                            flex-direction: column;
                            margin-top: 1rem;
                            li{
                                margin: .2rem 0rem;
                                a{
                                    font-size: $xl;
                                    font-weight: $bold;
                                }
                            }
                        }
                    }
                    .modal-footer{
                        border: none;
                    }
                }
            }
        }
    // AI assistant
        #AI-assistant-container{
            position: fixed;
            bottom: 0px;
            right: 0px;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            z-index: 10000;
            display: flex;
            flex-direction: column;
            width: fit-content;
            .AI-assistant-trigger-container{
                .AI-assistant-trigger-content{
                    display: flex;
                    align-items: center;
                    .AI-assistant-trigger-bubble{
                        margin-right: .5rem;
                        padding: .5rem 1rem;
                        background: $white;
                        box-shadow: $shadow;
                        border-radius: $radius;
                    }
                    #AI-assistant-trigger-button{
                        padding: .8rem !important;
                        i{
                            font-size: $large !important;
                            line-height: $large !important;
                        }
                    }
                }
            }
            .AI-assistant-chat-container{
                display: none;
                width: 350px;
                height: 450px;
                margin-top: 1rem;
                background: $white;
                box-shadow: $shadow;
                border-radius: $radius;
                @media screen and (max-width: 375px){
                    width: 320px;
                }
                .AI-assistant-chat-content{
                    width: 100%;
                    height: 100%;
                    .AI-assistant-chat-header{
                        .AI-assistant-chat-header-container{
                            border-bottom: 1px solid $light-grey;
                            height: 70px;
                            .AI-assistant-chat-header-content{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 1rem;
                                .AI-assistant-logo-status{
                                    display: flex;
                                    align-items: center;
                                    .logo{
                                        margin-right: .5rem;
                                        #chat-favicon{
                                            width: 32px;
                                            height: 32px;
                                        }
                                    }
                                    .chat-status{
                                        line-height: 1.2rem;
                                        #chat-business-name{
                                            font-weight: $bold;
                                            color: $primary-color;
                                        }
                                        .status{
                                            font-size: $small;
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            .dot{
                                                width: .5rem;
                                                height: .5rem;
                                                background: $success;
                                                display: flex;
                                                border-radius: $round;
                                                margin-right: .3rem;
                                            }
                                        }
                                    }
                                }
                                #hide-chat{
                                    padding: .1rem .3rem !important;
                                    background: $light-grey;
                                    border-radius: $round;
                                }
                            }
                        }
                    }
                    .AI-assistant-chat-main{
                        overflow-y: scroll;
                        height: 320px;
                        .AI-assistant-chat-main-container{
                            .AI-assistant-chat-main-content{
                                padding: 1rem;
                                display: flex;
                                flex-direction: column;
                                ::-webkit-scrollbar {width: 5px;}
                                ::-webkit-scrollbar-track {background: none;}
                                ::-webkit-scrollbar-thumb {background: $primary-color; border-radius: $round;}
                                .user-input-container{
                                    width: 100%;
                                    display: flex;
                                    .user-input-content{
                                        margin: 1rem 0rem !important;
                                        .timing{
                                            font-size: $small;
                                            color: $grey;
                                            margin-bottom: .3rem;
                                        }
                                        .user-input-bubble{
                                            .user-input-text{
                                                width: fit-content;
                                                text-align: left;
                                                padding: .5rem 1rem;
                                                border-radius: $radius;
                                                background: $lighter-secondary-color;
                                                color: $dark-grey;
                                            }
                                        }
                                    }
                                }
                                .AI-response-container{
                                    width: 100%;
                                    display: flex;
                                    justify-content: flex-end;
                                    text-align: right;
                                    .AI-response-content{
                                        .timing{
                                            font-size: $small;
                                            color: $grey;
                                            margin-bottom: .3rem;
                                        }
                                        .AI-response-bubble{
                                            .AI-response-text{
                                                width: fit-content;
                                                text-align: left;
                                                padding: .5rem 1rem;
                                                border-radius: $radius;
                                                background: $light-grey;
                                                color: $dark-grey;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .AI-assistant-chat-footer{
                        width: 100%;
                        height: 60px;
                        .AI-assistant-chat-footer-container{
                            border-top: 1px solid $light-grey;
                            background: $white;
                            .AI-assistant-chat-footer-content{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: .5rem 1rem;
                                .input{
                                    input{
                                        width: 100%;
                                        border: none;
                                        outline: none;
                                    }
                                }
                                .actions{
                                    display: flex;
                                    align-items: center;
                                    button{
                                        padding: .2rem;
                                        margin: .2rem;
                                    }
                                }
                            }
                        }
                    }
                }
                .loader {
                    width: 28px;
                    aspect-ratio: 2;
                    --_g: no-repeat radial-gradient(circle closest-side, #888 90%, transparent);
                    background: 
                      var(--_g) 0%   50%,
                      var(--_g) 50%  50%,
                      var(--_g) 100% 50%;
                    background-size: calc(100%/3) 50%;
                    animation: typing-indicator 1s infinite linear;
                }      
                @keyframes typing-indicator {
                    20%{background-position:0%   0%, 50%  50%,100%  50%}
                    40%{background-position:0% 100%, 50%   0%,100%  50%}
                    60%{background-position:0%  50%, 50% 100%,100%   0%}
                    80%{background-position:0%  50%, 50%  50%,100% 100%}
                }
            }
        }
    // Header Carousel
        .carousel-indicators{
            padding-bottom: 10rem;
        } 
        .carousel-item{
            position: relative;
            .overlay{
                position: absolute;
                top: 0;
                width: 100%;
                height: 550px;
                background: $clear-transparent-gradient;
            }
            img{
                height: 550px;
                object-fit: cover;
            }
            .carousel-caption{
                width: 100%;
                margin: auto;
                display: flex;
                @media screen and (max-width: 768px){
                    flex-direction: column;
                }
                justify-content: center;
                margin-bottom: 11rem !important;
                h2{
                    font-weight: $bold;
                    font-size: $xxl;
                }
            }
        }
    // Deals Carousel
        .deals-section {
            width: 90%;
            margin: auto;
            padding: 2rem;
            margin-top: 5rem;
            h2 {
                font-size: $xl;
                font-weight: bold;
                color: $dark-grey;
                .highlight {
                    color: $secondary-color;
                }
            }
            p {
                font-size: 16px;
                color: $primary-color;
            }
            .swiper-container {
                width: 100%;
                margin: auto;
                padding: 1rem 0rem;
            }
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem;
                transition: transform 0.3s ease-in-out;
                &:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
            .deal-card {
                width: 50rem;
                height: fit-content;
                background: $white;
                border-radius: $radius;
                overflow: hidden;
                text-align: left;
                position: relative;
                box-shadow: $shadow;
                transition: box-shadow 0.3s ease-in-out;
                img {
                    width: 100%;
                    height: 10rem;
                    object-fit: cover;
                    border-top-left-radius: $radius;
                    border-top-right-radius: $radius;
                }
                .deal-content {
                    padding: 1rem;
                    .trip-type {
                        padding: .2rem .5rem;
                        font-size: $small;
                        background: $light-grey;
                        color: $darker-primary-color;
                        border-radius: $radius;
                        display: inline-block;
                        margin-top: 1rem;
                    }
                    h3 {
                        margin: 10px 0;
                        font-size: $xl;
                        color: $primary-color;
                    }
                    p {
                        font-size: 14px;
                        color: $grey;
                        strong {
                            color: $secondary-color;
                        }
                    }
                }
            }
            .swiper-pagination {
                position: relative;
                margin-top: 15px;
                .swiper-pagination-bullet {
                    width: .5rem;
                    height: .5rem;
                    background: $primary-color;
                    opacity: 0.6;
                    transition: opacity 0.3s;
            
                    &.swiper-pagination-bullet-active {
                        background: $primary-color;
                        opacity: 1;
                    }
                }
            }
            .swiper-button-prev, 
            .swiper-button-next {
                display: none;
                color: $white;
                transition: color 0.3s ease-in-out;
            
                &:hover {
                    color: $lighter-secondary-color;
                }
            } 
        }
    // Banners
        .banner{
            width: 70%;
            height: 280px;
            margin: 2rem auto;
            .banner-container{
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: $radius;
                .banner-content{
                    padding: 5rem;
                    width: 100%;
                    margin: auto;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @media screen and (max-width:1024px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }
                    .banner-text{
                        display: flex;
                        flex-direction: column;
                        width: 80%;
                        .banner-message{
                            font-size: $xl;
                            color: $white;
                            font-weight: $bold;
                        }
                        .banner-subtitle{
                            color: white;
                            margin-bottom: 1rem;
                        }
                    }
                }
                .banner-media{
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    .banner-media-content{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        .overlay{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: $clear-transparent-gradient;
                            border-radius: $radius;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: $radius;
                        }
                    }
                }
            }
            @media screen and (max-width:768px) {
                width:90%;
                margin: .5rem auto;
                .banner-container{
                    .banner-content{
                        padding: 3rem;
                        .banner-text{
                            width: 100%;
                        }
                    }
                }
            }
        }